@tailwind base;
@tailwind components;
@tailwind utilities;

/* top and bottom max page */
:root {
  --background: #000000;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--source-serif-font), Georgia, serif;
}

/* Elements marked with serif class or font-serif will use Source Serif */
.font-serif,
.serif {
  font-family: ui-serif, var(--font-pt-serif), var(--font-noto-serif), Georgia,
    serif;
}

/* Elements marked with sans or font-sans will use Geist */
.font-sans,
.sans {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
